[workspace]
name = "example"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-arm64", "win-64"]

[environments.build-new]
features = ["build", "new"]

[environments.build-old]
features = ["build", "old"]

[feature.build.dependencies]
python = "3.13.*"
python-build = "*"
conda-build = "==25.11.0"
conda = "==25.11.0"
libmambapy = "2.3.*"

[feature.build.tasks]
build-conda = { cmd = 'bash scripts/conda/build.sh', env = { CONDA_CHANNELS = "conda-forge" } }

[feature.new.dependencies]
conda-libmamba-solver = "==25.11.0"

[feature.old.dependencies]
conda-libmamba-solver = "!=25.11.0"
